.bg-cover{
    background-image: url("../images/Background.jpg");
    height: max-content; /* made this height max content to get rid of unwanted white space*/
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; /* ^ this is to eliminate image repeating, since it sometimes compensate for the lack of size on the picture. */
    
}

.center-me{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.form-signin {
    padding: 25px;
    text-align: center ;
}

input{
    margin-bottom: 10px;
}

