.bg-cover {
    background-image: url("../images/Background.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; 
}

.center-me{
    display: flex;
    justify-content: center;
    padding: 40px; /* was 50 */
}

.form-signin {
    padding: 10px;
    text-align: center ;
}

input{
    margin-bottom: 00px;
}

